<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<h1>This new about section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Architecto similique libero qui dolores impedit deleniti quaerat
			consequuntur quas quisquam eveniet laboriosam sed suscipit eaque
			aliquid itaque nihil labore doloremque iure. Recusandae numquam ipsa
			itaque ipsum minus maiores nemo reiciendis dolorem! Eaque quidem qui
			beatae rerum! Dolores sunt officiis quis voluptatem!</p>

	</section>
</body>
</html>