<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Conditional Statement</title>
</head>
<body>
	<h1>Conditional Statement</h1>

	<!-- Elvis  -->
	<h1>
		User is <span th:style="${isActive} ? 'color:green' : 'color:red'"
			th:text="${isActive} ? 'ACTIVE' : 'INACTIVE'"></span>
	</h1>

	<!-- If Unless -->
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>

	<!-- Switch  -->
	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="'0'">List contains zero element</h1>
		<h1 th:case="'1'">List contains one element</h1>
		<h1 th:case="*">List contains more than one element</h1>
	</div>
</body>
</html>