<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example</title>
<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" /> -->
</head>
<body>
	<div class="container">
		<h1>This Insta Award goes to Mr. Vishal Srivastava</h1>
		<img class="profile" th:src="@{/image/award.png}" alt="" />
		

	</div>

	<script th:src="@{/js/myjs.js}"></script>
	<!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
</body>
</html>