<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- first bean -->
	<bean class="com.springcore.Student" name="student1">

		<!-- value as attribute -->
		<property name="studentId" value="12345" />

		<property name="studentName" value="Vishal Srivastava" />

		<!-- value as tag -->
		<property name="studentAddress">
			<value>Ayodhya</value>
		</property>
	</bean>

	<!-- Setting values using p schema -->
	<!-- second bean -->
	<bean class="com.springcore.Student" name="student2" p:studentId="56789" p:studentName="Anshu Srivastava" p:studentAddress="Lucknow" />


</beans>